body {
    font-family: sans-serif;    
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;    
}

h2{
    background-color: grey;
}

hr {
    border: 1px solid black;
}

p {
    font-family: 'Times New Roman', Times, serif;    
}
