# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see

# this is read by the standalone daemon and embedded servers
# [server]

# [mysql]
# default-character-set=utf8

# this is only for the mysqld standalone daemon
[mysqld]
# Folder to save data
datadir = '/var/lib/mysql'
# Socket used by mysql
socket  = '/run/mysqld/mysqld.sock'
bind-address=*
port = 3306
user = mysql
