# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see

# This is read by the standalone daemon and embedded servers
# [server]

# This is read by mysql, which includes both MariaDB Server and MySQL Server
# [mysql]
# default-character-set = utf8

# This is only for the mysqld standalone daemon
# Folder to save data
# Socket used by mysql
[mysqld]
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
bind-address=*
port = 3306
user = mysql